# Embedding + Reranker
FlagEmbedding==1.2.10
faiss-cpu==1.8.0

# BM25
rank-bm25==0.2.2
pyvi==0.1.1

# Fuzzy matching
rapidfuzz==3.13.0

# LLM
transformers==4.51.3
sentence-transformers==3.0.1
bitsandbytes==0.43.3
accelerate==0.34.2
tokenizers==0.21.0

# Chunking
markdown-it-py==3.0.0
langchain-text-splitters==0.2.2

# Data
pandas==2.2.2
openpyxl==3.1.5
numpy==1.26.4

# Utils
python-dotenv==1.0.1
tqdm==4.67.1

protobuf==5.29.3